/** Hero Section **/
.hero {
  margin: 4rem 0;
}

.hero h1 {
  font-size: clamp(3.2rem, 8vw, 10rem);
  line-height: 1;
}

.hero h2 {
  font-size: clamp(2rem, 5vw, 6rem);
  line-height: 1;
  margin-bottom: 2rem;
}

.hero p {
  color: #cbcaca;
  font-size: clamp(1rem, 1.8vw, 2.2rem);
  margin-bottom: 2rem;
}

.hero .hero-gradient {
  background: #121fcf;
  background: linear-gradient(to right, #2732cb 10%, #cf469d 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .hero-actions {
  display: flex;
  gap: 1rem;
}

.hero .btn {
  font-size: 1.4rem;
}

/** features Section **/
.features {
  margin: 4rem 0;
}

.features h2 {
  font-size: max(3.8vw, 2.4rem);
}

/** Languages Section **/
.languages {
  margin: 4rem 0;
}

.languages h2 {
  font-size: max(3.2vw, 2rem);
}

.languages .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.languages .card {
  background-color: var(--color-surface-200);
  cursor: pointer;
  padding: 1.2rem 0.6rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid var(--color-surface-300);
}

.languages .card:hover {
  background-color: var(--color-surface-400);
  scale: 1.1;
  transition: all 150ms;
}

.languages .card h3 {
  font-size: max(50%, 2.2rem);
  font-weight: bold;
  letter-spacing: -0.025em;
}
